.vide-vert {
    height: 3em;
    background-color: var(--med-green);
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    gap: 1em;
}

p {
    font-family: var(--text);
}

.fond-vert {
    display: flex;
    justify-content: center;
}

.text-feedback {
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 9% 1%;
    gap: 1em;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 24px;
}